{% extends "base.html" %}
{% block title %}{{ t('vote.invalid_meta') }}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}
{% block content %}
<h1>{{ t('vote.invalid_title') }}</h1>
<div class="notice error">
  {% if reason == "used" %}{{ t('vote.used') }}
  {% elif reason == "window" %}{{ t('vote.window', start=fmt_dt(election.starts_at), end=fmt_dt(election.ends_at)) }}
  {% elif reason == "bad_choice" %}{{ t('vote.bad_choice') }}
  {% else %}{{ t('vote.unknown') }}{% endif %}
</div>
{% endblock %}
